body {
    font-family: Arial, Helvetica, sans-serif;
}
/* Common */
.offset_sm_right_4 {
    margin-right: 33.33333333%;
}

.new_game_img:hover {
    transform: translateY(-10px);
    transition: 0.5s;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 32px;
}

.btn_trans:hover {
    box-shadow: inset 0px 0px 0px 2px #000;
}

.btn_trans_w:hover {
    box-shadow: inset 0px 0px 0px 2px #fff;
}

.btn_color_shadow {
    box-shadow: inset 0px 0px 0px 2px #cd3d0f;
}

.margin_title {
    padding-top: 10px;
}

.padd_btm {
    padding-bottom: 10px;
}

.padd_btm_medium {
    padding-bottom: 20px;
}

.padd_top_large {
    padding-top: 40px;
}
.margin_small_sp {
    padding-bottom: 80px;
}

.margin_small_section {
    padding-top: 45px;
}

.btn_margin {
    margin-top: 10px;
}

.mrgn_btm_small {
    margin-bottom: 10px;
}

.radius_img {
    border-radius: 15px;
}

.padng_large {
    padding-top: 100px;
    padding-bottom: 50px;
}

.bt_bg_color_blue {
    background-color: #2d64e6;
}

.color_first {
    color: #2d64e6;
}

.btn_orange_bg {
    background-color: #cd3d0f;
}

.txt_dark_gray {
    color: #727272;
}

.bg_color_gray {
    background-color: #bebcbb;
}

.bg_color_dark_blue {
    background-color: #161c3b;
}
/* /Common */
/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    background-color: #fff;
}

#top_head {
    margin-top: 113px;
}

.header_bottom .navbar-light .navbar-nav .nav-link {
    color: #000;
    font-weight: 500;
}

.header_bottom .dropdown-toggle::after {
    border: none;
    content: url("../img/chevron-down-solid.svg");
    display: inline-block;
    width: 11px;
    vertical-align: middle;
}

.header_top {
    background-color: #000;
    padding: 12px;
    display: flex;
    justify-content: flex-end;
}

.header_top > img {
    height: 13px;
}

.btn_access {
    border: 0;
    padding: 8px 13px;
    border-radius: 20px;
    background-color: #363636;
    margin-left: 20px;
}

.header_bottom .bi.bi-search {
    padding-left: 20px;
    font-size: 18px;
}
/* Main */
/* Main Top */
/* Jumbo */
.jumbo {
    min-height: 600px;
    background-image: url("../img/jumbo-bg.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_jumbo {
    margin-top: 300px;
}

.btn_jumbo {
    border: 2px solid #cd3d0f;
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 10px;
}

.btn_big {
    border: 0;
    border-radius: 25px;
    padding: 10px 15px;
}

.btn_border {
    border: 2px solid #2d64e6;

}

.jumbo > .container-fluid > .row > .col-12 h1 {
    padding: 30px 0;
    font-size: 37px;
}

.txt_jumbo {
    width: 380px;
} 
/* /Jumbo */
/* Upcoming Games */
.new_games_ps5 {
    padding-top: 40px;
}

.new_game_img {
    padding: 3px;
    border-radius: 20px;
    transition: 0.5s;
}

.new_game_img:hover {
    box-shadow: 0px 0px 0px 2px #0072ce;
}

.btn_blue {
    border: 2px solid #0072ce;
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 10px;
}
/* /Upcoming Games */
.ps5_view {
    margin-top: 80px;
    padding-bottom: 40px;
}

.ps5_view > .container > .row > div:first-child {
    padding-bottom: 50px;
}

.ps5_view > .container > .row > .col-12 > h6 {
    color: #0072ce;
    margin-bottom: 0;
}

.ps5_view > .container > .row > .col-12 > p {
    font-size: 21px;
}

.first_sp > .col:first-child::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #0072ce;
    margin: 2px auto;
}

.first_sp:hover::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #0072ce;
    margin: 2px auto;
}

.img_opacity {
    opacity: 0.6;
}

.img_opacity:hover {
    opacity: 1;
}
/* /Main Top */
/* Main Middle */
.jumbo_middle {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    min-height: 600px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner_jumbo_middle {
    padding-top: 60px;
}

.bgd_middle {
    background-color: #1f1f1f;
}

.space_margin {
    margin: 30px 0;
}

.bg_color_gray > .container > .row > div:first-child {
    padding: 50px 0;
    padding-left: 10px;
}

.bg_color_gray > .container > .row > .col-12 > p {
    padding-top: 20px;
}

.plus_logo {
    width: 60%;
}

.btn_gg_transp {
    background: rgba(255,255,255,0.4);
}

.new_sales_store > .container {
    padding-bottom: 70px;
}

.social > .container > .row > .col-12 > h3 {
    padding: 50px 0;
    font-size: 40px;
}

.social > .container > div:first-child  {
    padding-bottom: 150px;
}
/* Footer */
footer {
    background-color: #00439c;
}

footer > .container > div:first-child {
    padding-top: 80px;
    margin-bottom: 45px;
}

footer > .container > .row > .col-12 > ul {
    list-style: none;
}

footer > .container > .row > .col-12 > ul > li > a {
    text-decoration: none;
    color: #fff;
}

footer > .container > .row > div:first-child > ul > li:first-child {
    margin-bottom: 35px;
}

.language_selector {
    width: 25px;
    height: 25px;
}

.sie_logo {
    height: 60px;
}

.footer_logo {
    height: 80px;
}
/* /Footer */








@media screen and (min-width: 576px) {
    .offset-sm-4 {
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .media_none {
        display: none;
    }
}   

@media screen and (min-width: 768px) and (max-width: 991px) {
    .btn_access {
        margin-left: 0;
    }

    .header_bottom .bi.bi-search {
        padding-left: 3px;
        font-size: 18px;
    }

    .bg_color_gray > .container > .align-items-center > div:first-child {
        padding: 25px 0;
    }

    .bg_color_gray > .container > .align-items-center {
        align-items: normal!important;
    }

    .bg_color_gray > .container > .align-items-center > .col-12 > .plus_logo {
        width: 60%;
    }

    .bg_color_dark_blue > .container > .row > div:first-child {
        padding: 20px 0;
    }

    .bg_color_dark_blue > .container > .row > div:first-child > img {
        width: 70%!important;
    }

    .link_footer {
        margin-top: 40px;
    }
    
    .sie_logo {
        height: 60px;
    }

    footer > .container > .row > .col-12 > p {
        font-size: 15px;
        margin-top: 10px;
        padding-bottom: 70px;

    }
}

@media screen and (max-width: 425px) {
    p {
        font-size: 13px!important;
    }

    .fs-5 {
        font-size: 0.75rem!important;
    }    

    .btn_jumbo, .btn_blue {
        padding: 6px 5px;
    }

    .btn_big {
        padding: 6px 6px;
    }

    .btn_access {
        margin-left: 0;
    }

    .header_bottom .bi.bi-search {
        padding-left: 3px;
        font-size: 18px;
    }

    .bg_color_gray > .container > .align-items-center {
        padding: 25px 5px;
    }

    .ps5_view > .container > .row > .col-12 > h2 {
        font-size: 28px;
        font-weight: 600;
    }

    .jumbo_middle > .container > .row > .col-12 > h1 {
        font-size: 24px;
    }

    .jumbo_middle > .container > .row > .col-sm-6 > p {
        font-size: 12px;
    }

    .ps4_view > .container > .row > .col-12 > h2 {
        font-size: 27px;
        font-weight: 600;
    }

    .plus_logo {
        width: 80%;
    }

    .new_sales_store > .container > .row > .col-12 > img {
        margin-bottom: 30px;
    }

    .new_sales_store > .container > .row > .col-12 > h2 {
        font-size: 30px;
        font-weight: 600;
    }

    .bg_color_dark_blue {
        padding: 50px 0;
        padding-left: 10px;
    }

    .social > .container > div:first-child {
        padding-bottom: 60px;
    }

    .social > .container > .row > .col-12 > h3 {
        font-size: 23px;
        font-weight: 600;
    }
    
    .link_footer_first {
        margin-top: 40px;
    }

    .sie_logo {
        height: 40px;
    }

    footer > .container > div:last-child > .col-12 > p {
        font-size: 8px;
    }

    .mrgn_btm_m {
        margin-bottom: 20px;
    }
}