body {
    font-family: Arial, Helvetica, sans-serif;
}
/* Common */
.width_img {
    width: 100%;
}

.offset_sm_right_4 {
    margin-right: 33.33333333%;
}

h2 {
    font-size: 40px;
}

.margin_title {
    padding-top: 20px;
}
.margin_small_sp {
    padding-bottom: 80px;
}

.margin_small_section {
    padding-top: 45px;
}

.btn_margin {
    margin-top: 10px;
}

.bt_bg_color_blue {
    background-color: #2d64e6;
}

.txt_dark_gray {
    color: #727272;
}
/* /Common */
/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 30;
    background-color: #fff;
}

.header_bottom .navbar-light .navbar-nav .nav-link {
    color: #000;
    font-weight: 500;
}

.header_bottom .dropdown-toggle::after {
    border: none;
    content: url("../img/chevron-down-solid.svg");
    display: inline-block;
    width: 11px;
    vertical-align: middle;
}

.header_top {
    background-color: #000;
    padding: 12px;
    display: flex;
    justify-content: flex-end;
}

.header_top > img {
    height: 13px;
}

.btn_access {
    border: 0;
    padding: 8px 13px;
    border-radius: 20px;
    background-color: #363636;
    margin-left: 20px;
}

.header_bottom .bi.bi-search {
    padding-left: 20px;
    font-size: 18px;
}
/* Main */
/* Main Top */
/* Jumbo */
.jumbo {
    min-height: 600px;
    background-image: url("../img/jumbo-bg.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner_jumbo {
    margin-top: 300px;
}

.btn_jumbo {
    background-color: #cd3d0f;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    margin-top: 10px;
}

.btn_big {
    border: 0;
    border-radius: 25px;
    padding: 10px 15px;
}

.jumbo > .container-fluid > .row > .col-12 h1 {
    padding: 30px 0;
    font-size: 37px;
}

.txt_jumbo {
    width: 380px;
} 
/* /Jumbo */
/* Upcoming Games */
.new_games_ps5 {
    padding-top: 40px;
}

.new_game_img {
    padding: 3px;
    border-radius: 20px;
}

.new_game_img:hover {
    box-shadow: 0px 0px 0px 2px #0072ce;
 }

.new_game_img > img {
    border-radius: 15px;
}
/* /Upcoming Games */
.ps5_view {
    margin-top: 100px;
}

.ps5_view > .container > .row >.col-12 > h6 {
    color: #0072ce;
    margin-bottom: 0;
}

.ps5_view > .container > .row >.col-12 > p {
    font-size: 21px;
}

.ps5_view > .container > .row > .first_sp > .col-md-2 > small:first-child::after {
    content: "";
    display: block;
    height: 2px;
    background-color: #0072ce;
    margin: 2px auto;
}

.img_opacity {
    opacity: 0.6;
}

.img_opacity:hover {
    opacity: 1;
}
/* /Main Top */
/* Main Middle */
.jumbo_middle {
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    min-height: 600px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner_jumbo_middle {
    padding-top: 60px;
}










@media (min-width: 576px) {
.offset-sm-4 {
    margin-left: 0;
}
}

/* @media (min-width: 992px) {
.row-cols-lg-5>* {
    flex: 0 0 auto;
    width: 15%;
}
} */




